<div class="navbar-container">
    <div class="navigation">
        <div class="links">
            <div class="left">
                <!--
                <a [routerLink]="['']" [routerLinkActive]="['is-active']"> [ HOME ]</a>
                <a [routerLink]="['/collection']" [routerLinkActive]="['is-active']"> [ COLLECTION ]</a>
                -->
                <a [routerLink]="['']"> [ HOME ]</a>
                <a [routerLink]="['/collection']"> [ COLLECTION ]</a>
            </div>
            <div class="right">
                <a href="https://www.instagram.com/cultivatedpucks/" target="_blank">[ INSTAGRAM ]</a>
                <a href="https://twitter.com/CultivatedPucks" target="_blank">[ TWITTER ]</a>
                <a href="https://opensea.io/CultivatedPucks" target="_blank">[ OPENSEA ]</a>
            </div>
        </div>  
    </div>

    <router-outlet></router-outlet>
</div>