<div class="view">
    <div class="text-div">
        <h2>Our vision</h2>
        <p>
            Our main goal is to create a NFT universe where every person finds a digital identity that matches their energy and interests.
        </p>
        <p>
            If the project becomes a success we will try to give the community something back by donating to non profit organizations, 
            making give aways for Puck holders and hopefully much more. 
            You - as a holder - can decide with us in which way we help the world!

        </p>
        <h3>Information about the drops</h3>
        <p>
            Basic drops will come in seasons, every drop has its own theme and there will be a limit of 5000 main Pucks excluding the special drops.
        </p>
        <div class="flex-container">
            <div class="one-third-view">
                <img src="assets/drop/drop_picture.png" alt="story" class="storypic_image">
            </div>
            <div class="two-third-view">
                <h4>Main drops</h4>
                <p>The main Pucks (5000 CP-Collection) are priced at 0.125 ETH.</p>
           
                <h4>Special drops</h4>
                <p>
                    From time to time we will arrange mini drops (10 - 200 CP's per drop) which won't be part of the main CP collection. 
                    They will get a seperate naming convention and pricing.
                </p>
                <p>
                    Every drop will have a different pool of assets. 
                    There is the possibility that assets get taken out of the pool forever while others might return again. 
                    Pucks are created by random and the rarity of assets will develop by itself over time.
                </p>
            </div>
        </div>
    </div>
</div>