img {
    width: 90%;
    border-radius: 10%;
    border: 2px black solid;
}

.nerd {
  //  -webkit-transform: scaleX(-1);
  //  transform: scaleX(-1);
}

.wizard {

}

.about-us-container {
  @media screen and (min-width: 1024px) {
   
  padding-right: 75px;
}
}