<div class="view">
    <div class="text-div">
        <h2>About us</h2>
        <p>
            We’re two friends that have known each other since elementary school. 
            We were always searching for projects we could approach together and turn into something spectacular, 
            while giving something back to the people supporting us and the planet itself. 
            We think we might have found a way to do so inside the NFT-universe and we hope you’re ready to support us on our journey.

        </p>

        <div class="flex-container">
            <div class="half-view">
                <h3>Elmarius</h3>
                <div class="about-us-container">
                    <p>Puck designer, responsible for content creation and everything that has to do with visuals.</p>
                </div>
                <img class="wizard" src="assets/about-us/wizard.jpeg" alt="Wizard">
            </div>
            <div class="half-view">
                <h3>Stefanos</h3>
                <div class="about-us-container">
                    <p>Programmer, responsible for technical solutions and everything that happens behind the scenes.</p>
                </div>
                <img class="nerd" src="assets/about-us/nerd.jpeg" alt="nerd">
            </div>
        </div>
    </div>
</div>