<div class="view-without-color">
    <div class="two-third-view-container">
        <div class="text-div">
            <h2>Story</h2>
            <p>
                In ancient times old and primitive creatures ruled over this world.
                Those kinds are similiar to our known species today, namely apes and birds.
                But the birds discovered fire and won the battle of evolution this time.
                Therefore the apes were forced back and denied in every possible way to develop themselves.
            </p>
            <p>
                The bird species "Puck" originated from the alliances of penguins and ducks which ruled over the biggest parts of Europe during the second century.
                Over the years more and more birds joined the alliance which increased the diversity of Pucks until this day.
            </p>
        </div>
    </div>

    <div class="one-third-view-image-container">
        <img src="assets/story/story_pic_v4.png" alt="Story" class="image">
    </div>
</div>