.image {
    max-width: 360px;
    border-radius: 10%;
    border: 2px black solid;

    margin: 0 auto;
    padding: 0 auto;

    -moz-box-shadow:    0px 5px 5px 0px #22303F;
    -webkit-box-shadow: 0px 5px 5px 0px #22303F;
    box-shadow:         0px 5px 5px 0px #22303F;
    
    @media screen and (max-width: 1024px) {
        margin-top: 15px;
        width: 100%;
    }
}

.one-third-view-container {
    background-color: #7995AA;
    max-width: 400px; //1024px;
    margin: 0 auto;

    border-radius: 10px;
   // border: 2px solid black;

    -moz-box-shadow:    0px 5px 5px 0px #22303F;
    -webkit-box-shadow: 0px 5px 5px 0px #22303F;
    box-shadow:         0px 5px 5px 0px #22303F;
}

.two-third-view-container {
    background-color: #C9DEF2;
    max-width: 925px; //1024px;
    margin: 0 auto;
    margin-left: 0px;

    border-radius: 10px;
    //border: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;

    -moz-box-shadow:    0px 5px 5px 0px #22303F;
    -webkit-box-shadow: 0px 5px 5px 0px #22303F;
    box-shadow:         0px 5px 5px 0px #22303F;
}

.text-div {
    padding-left: 15px;
}