/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Raleway:wght@200&family=Red+Hat+Mono:wght@300&family=Roboto+Condensed:wght@300;400&family=Source+Sans+Pro:wght@300&family=Viga&display=swap');

html, body {

    //background: rgb(46,69,96);
    //background: linear-gradient(180deg, rgba(46,69,96,1) 19%, rgba(135,206,235,1) 60%);

    background: rgb(135,206,235);
    background: linear-gradient(239deg, rgba(135,206,235,1) 0%, rgba(95,139,190,1) 38%, rgba(26,38,54,1) 94%);

    margin:0;
    padding:0;
    // overflow-x: hidden; // Sticky navbar wont work


  /*@media screen and (max-width: 720px) {
    overflow-x: hidden;
  }*/

    text-align: justify;

    
    font-family: 'Poppins', sans-serif; // 1
    //  font-family: 'Raleway', sans-serif; // 1
    //  font-family: 'Red Hat Mono', monospace;
    //  font-family: 'Roboto Condensed', sans-serif;
    //  font-family: 'Source Sans Pro', sans-serif;
    //  font-family: 'Viga', sans-serif;

    font-size: 18px;
    min-height: 100%;
}

a {

    font-family: 'Viga', sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Viga', sans-serif;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

.view {
    background-color: #C9DEF2;//#6ebff5;//#7995AA;
    max-width: 1280px; //1024px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;;
    padding: 15px;

    border-radius: 10px;
  //  border: 2px solid black;*/

    -moz-box-shadow:    0px 5px 5px 0px #22303F;
    -webkit-box-shadow: 0px 5px 5px 0px #22303F;
     box-shadow:         0px 5px 5px 0px #22303F;
}

.text-div {
    margin-left: 30px;
    margin-right: 30px;
}

.flex-container {
    @media screen and (min-width: 1024px) {
        display: flex;
    }
}

.half-view {
    flex-basis: 50%;
}

.one-third-view {
    flex-basis: 33%;
}

.two-third-view {
    flex-basis: 66%;
}

.view-without-color {
    display: flex;
    @media screen and (max-width: 1024px) {
        display: block;
    }

    justify-content: space-between;
    
    max-width: 1314px; //1280 + 15 + 15 + 2 + 2// left and right padding and margin, which is missing;
    margin: 0 auto;

    margin-bottom: 15px;
    margin-top: 15px;
}